@font-face {
    font-family: 'Shintia Script';
    src: url('../assests/fonts/shintia/ShintiaScript.eot');
    src: url('../assests/fonts/shintia/ShintiaScript.eot') format('embedded-opentype'),
        url('../assests/fonts/shintia/ShintiaScript.woff2') format('woff2'),
        url('../assests/fonts/shintia/ShintiaScript.woff') format('woff'),
        url('../assests/fonts/shintia/ShintiaScript.ttf') format('truetype'),
        url('../assests/fonts/shintia/ShintiaScript.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Christmas Day';
    src: url('../assests/fonts/christmas/ChristmasDayRegular.eot');
    src: url('../assests/fonts/christmas/ChristmasDayRegular.eot') format('embedded-opentype'),
        url('../assests/fonts/christmas/ChristmasDayRegular.woff2') format('woff2'),
        url('../assests/fonts/christmas/ChristmasDayRegular.woff') format('woff'),
        url('../assests/fonts/christmas/ChristmasDayRegular.ttf') format('truetype'),
        url('../assests/fonts/christmas/ChristmasDayRegular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Jangthai';
    src:url('../assests/fonts/jangthai/Jangthai.woff') format('woff'),
        url('../assests/fonts/jangthai/Jangthai.svg') format('svg'),
        url('../assests/fonts/jangthai/Jangthai.eot'),
        url('../assests/fonts/jangthai/Jangthai.eot') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;

}

.custom-shadow {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 50%) !important
}
.custom-vert{
    color: #83C5BE;
}
.custom-bleu{
    color: #77A8CC !important;
}
.custom-bg-vert{
    background-color: #83C5BE !important;
}
.custom-bg-bleu{
    background-color: #77A8CC !important;
}
.custom-shadow-card{
    box-shadow: 5px 5px 15px 5px #77A8CC;
}
.custom-color-dore{
    color:  #c79d6f;
}
.jpjp {
    width: 100px;
}
