#connexion .fieldset {
    border: 2px solid #2D2A32;
    width: 100%;
    height: 50%;
    margin-top: 5%;
    /* margin-left: 25%;*/
    background-color: #83C5BE;
    border-radius: 5px;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    box-shadow: 5px 5px 15px 5px #77A8CC;

}

#connexion .legend {
    font-size: 250%;
    font-family: Shintia Script;

}

#connexion label {
    font-size: 18px;
}

#connexion #bouton {
    margin-top: 10%;

}

#connexion #button {
    min-width: 90%;
    box-shadow: 5px 5px 15px 5px #77A8CC;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.3rem;
    color: #c79d6f;

}

/* *******************Les medias queries*************************** */

@media screen and (min-width: 200px) and (max-width: 768px) {

    #connexion #button {
        min-width: 50%;
    }

}

@media screen and (min-width: 568px) {

    #connexion #button {
        min-width: 40%;
    }

}

@media screen and (min-width: 768px) {

    #connexion .fieldset {
        width: 80%;
        margin: auto;
    }

    #connexion .label-div {
        display: flex;

    }

    #connexion label {
        margin-left: 12px;

    }

}

@media screen and (min-width: 992px) {

    #connexion .fieldset {
        width: 70%;
    }

    #connexion #button {
        min-width: 30%;
    }

    #connexion #button {
        min-width: 30%;
    }

}

@media screen and (min-width: 1200px) {

    #connexion .fieldset {
        width: 60%;
    }
}

@media screen and (min-width: 1400px) {

    #connexion .fieldset {
        width: 50%;
    }



}