#inscription .fieldset {
    border: 2px solid #2D2A32;
    width: 100%;
    height: 50%;
    margin-top: 5%;
    background-color: #83C5BE;
    border-radius: 5px;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    box-shadow: 5px 5px 15px 5px #77A8CC;

}

#inscription .legend {
    font-size: 250%;
    font-family: Shintia Script;

}

#inscription label {
    font-size: 18px;
}

#inscription #bouton {
    margin-top: 8%;
  
}

#inscription #button {
    min-width: 80%;
}

/* *******************Les medias queries*************************** */

@media screen and (min-width: 200px) and (max-width: 768px) {

    #inscription #oui,
    #non {
        margin-right: 5px;
    }

    #inscription #btnInsc {
        min-width: 50%;
    }
}

@media screen and (min-width: 768px) {

    #inscription .fieldset {
        width: 80%;
        margin: auto;
    }

    #inscription .label-div {
        display: flex;

    }

    #inscription label {
        margin-left: 12px;

    }

    #inscription #btnInsc {
        min-width: 40%;
    }

}

@media screen and (min-width: 992px) {

    #inscription .fieldset {
        width: 70%;
    }

    #inscription #btnInsc {
        min-width: 30%; 
    }

    

}

@media screen and (min-width: 1200px) {

    #inscription .fieldset {
        width: 60%;
    }

    #inscription #check label,
    #invit label {
        padding-left: 8px;

    }

}

@media screen and (min-width: 1400px) {

    #inscription .fieldset {
        width: 50%;
    }
}